@import 'libs/special';

$color-body:                #fff;
$color-text:                #171717;
$color-primary:             #022061;
$color-primary-text:        #fff;
$color-secondary:           #022061;
$color-secondary-text:      #fff;
$color-success:             #16d16d;
$color-error:               #d12929;

$config-border-radius:      20px;