@import 'libs/special';

$color-body:                #fff;
$color-text:                #171717;
$color-primary:             #34343e;
$color-primary-text:        #fff;
$color-secondary:           #022061;
$color-secondary-text:      #fff;
$color-success:             #16d16d;
$color-error:               #d12929;


$color-mdc-label:           #646464;
$color-mdc-border-bottom:   #ccc;
$color-mdc-hover:           #dedede;

$mdc-border-radius:         4px;
$config-border-radius:      20px;
$body-padding:              8px;