@import 'config';

.section {
  z-index: 1;
  display: block;
  position: relative;
  transition: 0.2s ease;

  &-modal {
    z-index: 3;
    display: block;
    overflow: auto;
    transition: 0.3s ease;
    padding: $body-padding;
    padding-top: 15px;
    will-change: transform;
    box-sizing: border-box;
    @include wh(100%, fixed top left 150%);
    background-color: rgba($color-body, 0.8);

    &__btn-close {
      $size:       18px;
      $offset-x:   2px;
      $offset-y:   2px;
      $weight:     2px;
      $icon:       70%;
      $color:      $color-primary;

      z-index: 10;
      display: block;
      cursor: pointer;
      border-radius: 50%;
      box-sizing: border-box;
      transition: 0.2s ease;
      border: $weight solid $color;
      background-color: $color-body;
      @include wh($size, top $offset-y right $offset-x);

      &:before,
      &:after {
        content: '';
        display: block;
        transform-origin: center;
        transform: rotate(45deg);
        background-color: $color;
        @include wh($icon, $weight, middle center);
      }
      &:after {
        transform: rotate(-45deg);
      }

      &:hover {
        transform: scale(1.1);
      }
      &:active {
        transform: scale(0.9);
      }
    }
    &:not(#{'&--show'}) &__btn-close {
      transform: scale(0);
    }

    &--show {
      transform: translateX(-150%);
    }
  }

  &-edit {
    z-index: 2;
    padding: 4px 10px;
    position: relative;
    border-radius: $mdc-border-radius;
    background-color: Color(#fff, -6%);

    .mdc-input__label,
    input {
      background-color: transparent !important;
    }

    &:not(#{'&--show'}) {
      display: none;
      @debug &;
    }
  }

  &--back {
    opacity: 0;
    pointer-events: none;
  }

  @at-root {
    [data-section-title] {
      padding-top: 12px;
    
      &:before {
        z-index: 2;
        content: attr(data-section-title);
        font-size: 12px;
        font-weight: bold;
        padding: 4px 7px;
        border-radius: $mdc-border-radius;
        color: $color-primary-text;
        background-color: $color-primary;
        @include wh(auto, 12px, top (-4px) left);
      }
    }
  }
}