@import 'config';
@import 'section';
@import 'material/input';


$button-size:            40px;
$button-gutter:          5px;
$button-icon-size:       80%;
$scrollbar-width:        3px;

::-webkit-scrollbar {
  @include wh($scrollbar-width);
}
::-webkit-scrollbar-thumb {
  appearance: none;
  background-color: $color-primary;
}
::-webkit-scrollbar-track {
  background-color: #a1a1a1;
}

body {
  margin: 0;
  padding: $body-padding;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 12px;
  text-align: left;
}

$width: 100 90 80 70 50 40 30 25 10;
@each $w in $width {
  .w-#{$w} {
    display: block;
    width: #{$w + '%'};
  }
}

.buttons-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.button-icon {
  display: block;
  cursor: pointer;
  border-radius: 7px;
  transition: 0.2s ease;
  margin-right: $button-gutter;
  @include wh($button-size, top relative);

  &:last-of-type {
    margin-right: 0;
  }

  svg {
    @include wh($button-icon-size, middle center);
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 2px 5px rgba(#000, 0.4);
  }
  &:active {
    transform: translateY(0px);
    box-shadow: 0px 0px 2px rgba(#000, 0.4);
  }
}

.flex-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.section-title {
  width: 100%;
  height: auto;
  display: block;
  text-align: left;
  padding: 0;
  width: 100%;
  overflow: hidden;
  margin: 10px 0 5px 0;
  user-select: none;
  pointer-events: none;

  span {
    position: relative;
    display: inline-block;

    &:before {
      content: '';
      display: block;
      margin-left: 5px;
      background-color: #cecece;
      @include wh(500px, 1px, middle left 100%);
    }
  }
}

#isometric-transform,
#isometric-move {
  .button-icon svg path {
    fill: $color-primary;
  }
}

#edit-shape {
  .radio-custom--checked {
    svg path {
      stroke-width: 4px;
      stroke: $color-success;
    }
  }
}

#open-edit-shape {
  z-index: 2;
  font-size: 12px;
  padding: 2px 5px;
  position: fixed;
  bottom: 3px; right: 3px;
  color: #000;
  cursor: pointer;
  user-select: none;
  transition: 0.2s ease;
  transition-delay: 0.2s;
  border-radius: $mdc-border-radius;
  background-color: Color(#fff, -20%);
  transform: translateX(0) scale(1);

  &:not(.show) {
    opacity: 0;
    pointer-events: none;
    transition-delay: 0s;
    transform: translateX(0) scale(0.2);
  }

  &:hover {
    color: $color-primary-text;
    background-color: $color-primary;
    transform: translateX(0) scale(1.1);
  }

  &:hover {
    color: $color-primary-text;
    background-color: $color-primary;
    transform: translateX(0) scale(0.9);
  }
}

#tube {
  padding-top: 1px;

  .button-icon {
    margin: 0 2px;
    @include wh(28px);

    svg {
      @include wh(85%);
    }
  }
  .mdc-input__label--right {
    padding-right: 0;
  }
}

#object-cube {
  svg path {
    fill: none;
  }
}

#cubic {
  padding-top: 1px;

  .cubic-value {
    top: 10px;
    margin-right: 10px;
  }
  .cubic-change-buttons {
    width: 100px;
  }
  .cubic-anchor {
    @include wh(25px);
  }

  .mdc-input__label--right {
    padding-right: 0;
  }
}